body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(58, 154, 58);

}

.game-container {
    width: 400px;
    height: 600px;
    border: 2px solid #fff;
    position: relative;
    overflow: hidden;
}

.score {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    font-size: 20px;
    font-family: Arial, sans-serif;
    z-index: 1;
}

.road {
    width: 100%;
    height: 100%;
    background: #444;
    position: relative;
}

.player-car, .obstacle-car {
    width: 80px;
    height: 180px;
    position: absolute;
    bottom: 20px;
    left: 175px;
    background-color: rgb(255, 217, 0);
    border-top-left-radius:45% 15%;
    border-top-right-radius:45% 15%;
    border-bottom-right-radius:30% 10%;
    border-bottom-left-radius:30% 10% ;
    
}

.capo{
    height: 30%;
}


.parabrisa{
    position: absolute;
    width: 85%;
    margin: 5%;
    border: solid black;
    height: 50%;
    background-color: #000;
    border-top-left-radius:45% 15%;
    border-top-right-radius:45% 15%;
    border-bottom-right-radius:30% 10%;
    border-bottom-left-radius:30% 10% ;
}

.luzes-tras{
    border: solid black;
    border-radius: 25%;
    position: absolute;
    bottom: 5px;
    left: 10px;
    padding:  5px 25%;
    border-left: 10px solid red;
    border-right: 10px solid red;
}

.obstacle-car {
    top: -100px;
    background-color: blue;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none; /* Escondido por padrão */
}

.popup h2 {
    margin: 0;
    font-size: 24px;
}

.popup p {
    margin: 10px 0;
    font-size: 18px;
}

.popup button {
    margin: 10px 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup .play-again {
    background-color: #28a745;
    color: #fff;
}

.popup .back-to-menu {
    background-color: #dc3545;
    color: #fff;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none; /* Escondido por padrão */
}
