@font-face {
    font-family: 'pixel';
    src: url('./VCR_OSD_MONO_1.001.ttf') format('truetype');
}

p{
	font-family: 'pixel';
	font-size: x-large;
}

* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
} 

#back {
    cursor: pointer;
    transform: rotate(180deg);
    border: none;
    background: none;
}


body { 
	height: 100vh; 
	width: 100vw; 
	background-color: blueviolet; 
	display: flex; 
	justify-content: center; 
	align-items: center; 
} 

.board { 
	height: 85vh; 
	width: 80vw; 
	background-color: black;
} 

.ball { 
	height: 30px; 
	width: 30px; 
	border-radius: 50%; 
	position: fixed; 
	top: calc(50% - 15px); 
	left: calc(50% - 15px); 
} 

.ball_effect { 
	height: 100%; 
	width: 100%; 
	background-color: white;
} 


.paddle { 
	height: 100px; 
	width: 18px; 
	position: fixed; 
} 

.paddle_1 { 
	top: calc(7.5vh + 55px); 
	left: calc(10vw + 30px); 
	background-color: white;
} 

.paddle_2 { 
	top: calc(85vh + 7.5vh - 100px - 55px); 
	right: calc(10vw + 30px); 
	background-color: white;
} 

.player_1_score { 
	font-family: 'pixel';
	height: 50px; 
	width: 50px; 
	color: white;
	position: fixed; 
	left: 30vw; 
	margin-top: 30px; 
} 

.player_2_score { 
	font-family: 'pixel';
	height: 50px; 
	width: 50px; 
	color: white; 
	position: fixed; 
	left: 70vw; 
	margin-top: 30px; 
} 

.message { 
	position: fixed; 
	height: 10vh; 
	width: 30vw; 
	color: #c9cbff; 
	left: 38vw; 
	margin: 30px auto auto auto; 
} 
